.header {
  color: white;
  height: 600px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }
  .header .header--img-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    z-index: -1; }
    .header .header--img-container .header--img-container--img {
      max-width: 100%;
      z-index: -1; }
  .header .header--nav {
    background: white;
    z-index: 1;
    height: 70px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .header .header--nav .header--nav--logo {
      width: 20%;
      height: 100%;
      display: inline-block; }
      .header .header--nav .header--nav--logo .header--nav--logo--img {
        max-width: 100%; }
    .header .header--nav .header--nav--menu {
      display: inline-block;
      width: 80%; }
  .header .header--content {
    position: relative;
    z-index: 1;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 60%;
    height: 80%; }

html {
  font-family: museo, serif;
  font-style: normal;
  font-size: 16px; }
