.header {
    color: white;
    height: 600px;
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;

    .header--img-container {
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: absolute;
        z-index: -1;

        .header--img-container--img {
            max-width: 100%;
            z-index: -1;
        }
    }

    .header--nav {
        background: white;
        z-index: 1;
        height: 70px;
        position: relative;
        display: flex;


        .header--nav--logo{
            width: 20%;
            height: 100%;
            display: inline-block;

            .header--nav--logo--img {
                max-width: 100%;
            }
        }

        .header--nav--menu {
          display: inline-block;
            width: 80%;
        }
    }

    .header--content {
        position: relative;
        z-index: 1;
        text-align: center;
        display: flex;
        flex-flow: column;
        justify-content: center;
        width: 60%;
        height: 80%;

    }
}
